.iconcontainer.first, .iconcontainer.second{
    display: inline-block;
    width:50%;
    height:50%;
  }
  
  .iconcontainer img {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 40%;
    /* height: 100%; */
  }
  
  p {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }
  