.iconcontainer.first, .iconcontainer.second{
    display: inline-block;
    width:50%;
    vertical-align:top;
    /* height:50%; */
  }
  
  .iconcontainer .leftimage {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    text-align: right;
    float: right;
    width: 40%;
    /* height: 100%; */
  }

  .iconcontainer .rightimage {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    float: left;
    width: 40%;
    /* height: 100%; */
  }
  
  p {
    /* text-align: center; */
    font-family: 'Lato', sans-serif;
    /* font-weight: 400; */
  }
  .left {
    text-align: right;
    font-family: 'Lato', sans-serif;
    font-size: 2vw;
    /* font-weight: 400; */
  }
  .right {
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-size: 2vw;
    /* font-weight: 400; */
  }
  