@font-face{
    font-family: "Avenir-Book";
    src: url('../fonts/Avenir-Book.ttf'),
} 

p {
  color: white;
  font-size: 30px;
  font-family: Avenir-Book;
  text-align: center;
}

#welcome-text {
	margin-top: 100px;
}

#welcome-content {
  margin: auto;
}

.btn-apply {
	color: #fff;
	background-color: #3891b8;
	border-radius: 15px;
	padding: 20px 30px;
	font-size: 20px;
	font-family: Avenir-Book;
}

.btn-apply:hover {
  background-color: #2686af;
  color: #fff;
 }

.btn-apply:focus,
.btn-apply:active:focus,
.btn-apply.active:focus,
.btn-apply.focus,
.btn-apply:active.focus,
.btn-apply.active.focus {
  outline: none;
  color:#fff;
}

.btn:active,
.btn.active {
  outline: none;
  background-image: none;
  box-shadow: none;
  color:#fff;
}

#begin-button {
	margin-top: 50px;
}


