th {
	background-color: white;
	width: 100px;
	text-align: center;
}

tr {
	background-color: white;
	width: 100%;
}

td {
	text-align: center;
	width: 200px !important;
}

tr:hover {
	background-color: #f2f4f7;
}

.table {
	display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 800px;
}

/* rounding corners */
thead th:first-child {
	border-radius: 10px 0 0 0;
}

thead th:last-child {
	border-radius: 0 10px 0 0;
}

tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

#head:hover {
	color:black;
}

#applicants {
  margin-left: auto;
  margin-right: auto;
}

.btn-view-more {
	color: #fff;
	background-color: #3891b8;
	border-radius: 15px;
	font-size: 14px;
	padding: 5px 10px 5px 10px;
}
