p {
  font-family: Avenir;
  color: white;
  font-size: 30px;
  text-align: center;
}

#welcome-content {
  font-family: Avenir;
  margin: auto;
}

#welcome-text {
	margin-top: 100px;
}

.btn-apply {
	color: black;
	background-color: #f29c46;
	border-radius: 15px;
	padding: 20px 30px;
	font-size: 20px;
}

.btn:hover {
  background-color: #fef0e4;
  color: black;
 }

.btn {
   font-family: Avenir;
 }

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  color:#fff;
}

.btn:active,
.btn.active {
  outline: none;
  background-image: none;
  box-shadow: none;
  color:#fff;
}

#begin-button {
	margin-top: 50px;
}


